
html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
  font-family: monospace;

}

main{
  width: 100%;
  height: 100%;
  background: rgba(0, 57, 64, 1);
  padding: 20px 100px 0 100px;

  
}

header{
  
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .logo{
      display: flex;
      width: 50%;
      align-items: center;
      
      h1{
          color: rgba(147, 234, 33, 1);
          margin: 0 5px;
      }
      p{
          border-left: 1px solid rgba(175, 172, 172, 0.589);
          padding: 0 5px;
      }
  }

.aloqa{
  
  width: 50%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  .number{
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      a{
          font-size:15px;
      }
  }

  button{
      padding: 15px 30px;
      border-radius: 20px;
      margin: 0 20px;
      color: black;
      outline: none;
      border: none;
      background: rgba(147, 234, 33, 1);

  }
  
}

nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
margin: 20px 0;
  
  .nav-list{
      width: 100%;
      height: 10px;
      display: flex;
      justify-content:center;
      align-items: center;
      border-top: 2px solid rgba(172, 164, 164, 0.521);
      padding: 30px 0;
      li{
          margin: 0 40px;
          list-style: none;
          font-size: 15px;
          a{
              text-decoration: none;
          }
      }
  }
}

}


.main-content-1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap:wrap;
  .text-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 100px 0 0;
    h1{
      font-size: 50px;

    }
    p{
      font-size: 20px;
    }

    .button{
      width: 100%;
      a{
        padding: 15px 30px;
        margin: 0 5px;
        border-radius: 50px;
        color: rgba(147, 234, 33, 1);;
        border: 1px solid  rgba(147, 234, 33, 1);;
        text-decoration: none;
        font-size: 15px;
        &:nth-child(1){
          background: rgba(147, 234, 33, 1);
          border-color:rgba(147, 234, 33, 1) ;
          color: black;
        }
    }
   
  }

    h1,p,.button{
      margin: 20px 0;
    }
  }

  .img-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .img-box{
      width: 60%;
      height:90%;
      position: relative;
      svg{
        width: 100%;
        height: 100%;
      &:nth-child(2){
        width: 500px;
        height: 500px;
        position: absolute;
        z-index: 1000;
        left: -70px;
        top: -70px;
        
        
      }
      }
      
  
    }
  }

.services-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 80px 0;
  flex-wrap: wrap;
  .services-box{
    width: 300px;
    height: 90px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    margin: 10px;
    svg{
    margin: 0 10px;
  
    }
  }
}

.skitka-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 100px 150px;
  h1{
    font-size: 50px;
    span{
      color: rgba(147, 234, 33, 1);
    }
  }
  p{
    font-size: 30px;
  }
  h1,p{
    margin: 20px 0;
    text-align: center;
  }
}


.question-container{
  width: 100%;
  height: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  overflow:hidden;

  
  
  .question-btn-box{
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute;

    a{
      font-size: 15px;
      
    }
  }

  .question-line {
    width: 400%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .question-box{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
     margin:50px 20px;
      
      h1{
        font-size: 40px;
        margin: 20px 0;
      
      }
      .questions{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        flex-wrap: wrap;
        
        
      }
    
      .question{
        margin: 10px 0;
        width: 200px;
        height: 200px;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        svg{
          width: 100%;
          height: 100%;
        }
    
        h1{
          font-size: 20px;
          margin: 0;
        }
        
    }
    
    }





  }



}






.service-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 100px 0;
.service-box{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  
  svg,h1,p{
    margin: 10px 0;
  }
}
}







.table-container{
  width: 100%;
  height: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  hr{
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, #93EA21 0%, rgba(147, 234, 33, 0.596437) 36.26%, rgba(147, 234, 33, 0) 100%);
      border: none;
      outline: none;
  }

  .list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    li{
      list-style: none;
      color: gray;    
    }
  }


table{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  
tr{
  line-height: 30px;
}
}
}



// main-containers tugashi
}

// /footer content

footer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .footer-content-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 100px;
    font-size: 20px;
    h1,hr,p{
      margin: 10px 0;
    }
.line{
width: 100%;
display:flex;

hr:nth-child(1){
  width: 50%;
  height: 1px;
  background: linear-gradient(90deg, #93ea2100 0%, rgba(147, 234, 33, 0.596437) 36.26%, rgb(147, 234, 33) 100%);
  border: none;
  outline: none;

}

hr:nth-child(2){
  width: 50%;
  height: 1px;
  background: linear-gradient(90deg, #93EA21 0%, rgba(147, 234, 33, 0.596437) 36.26%, rgba(147, 234, 33, 0) 100%);
  border: none;
  outline: none;

}

}

  }


  .slider-container{
    width:100%;
    height: 100%;
    position: relative;
    svg,h1,p,.icons-btn-box{
      margin: 20px 0;
    }
    svg{
      position: relative;
    }
    h1{
      position: absolute;
      top: 50px;
      font-size: 50px;
      left: 100px;
    }

    p{
      position: absolute;
      top: 120px;
      font-size: 20px;
      left: 100px;
      text-align: center;
      padding: 0 100px 0 0;
    }

    .icons-btn-box{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      margin: 100px 0;
      svg{
        margin: 0 10px;
      }

    }

  }


.form-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
.img-box{
  width: 50%;
  height: 100%;
  background-color: red;
  position: relative;
  svg:nth-child(1){
    position: absolute;
    width: 100%;
    height: 100%;
  }
  svg:nth-child(2){
position: absolute;
z-index: 100;
top: 100px;
left: 0;
width: 70%;
height: 70%;
  }
}




.form-box{
  width: 50%;
  height: 100%;
background-color: blue;
}

}





}